body {
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw!important;
  max-height: 100vh!important;
  overflow: hidden;
  min-height: 100vw!important;
  min-height: -webkit-fill-available;
}

.nav-icon {
  width: 40px;
}

.primary-btn {
  background-color: #6cc24a;
  color: #fff;
}

.primary-btn:hover {
  background-color: transparent;
  border-color: #6cc24a;
  color: #6cc24a;
}

.secondary-btn {
  background-color: transparent;
  border-color: #6cc24a;
  color: #6cc24a;
}

.secondary-btn:hover {
  background-color: #6cc24a;
  color: #fff;
}

.edit-btn {
  background-color: yellow;
  color: #000;
}

.delete-btn {
  background-color: #f72828;
  color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  position: absolute;
  top: 37%;
  left: 60%;
  bottom: 30%;
  transform: translate(-50%, -50%);
}

#message-div {
  border: 2px solid lightgrey;
  background-color: #f8f9fa;
  padding: 30px;
}

.pass-btn {
  right: 0;
  outline: none;
  box-shadow: none;
}

#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: .875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.card {
  background-color: #f3f3f3;

}
